body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e427c;
}

.header .links {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}

.showcase {
  background: url(./assets/1.jpg) no-repeat center/cover;
  height: calc(100vh - 55.6px);
}

.showcase .overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 55.6px);
  max-width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}
.showcase .overlay h1 {
  font-size: 36px;
  padding-bottom: 20px;
}

.grid {
  padding: 50px;
}
.grid h3 {
  text-align: center;
  font-size: 30px;
  color: #333;
  padding-bottom: 20px;
}
.grid .grid-items div {
  background-color: #f1f1f1;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
}
.grid .grid-items div img {
  border-radius: 10px;
}
.grid .grid-items div h4 {
  padding: 10px 0;
  font-size: 22px;
}
.grid .grid-items div p {
  line-height: 1.8;
}

.footer {
  background-color: #333;
  padding: 30px;
  display: flex;
  align-items: center;
  /* text-align: start; */
  justify-content: space-between;
}

.footer ul li {
  margin: 10px 0;
}

.footer ul li button {
  display: inline-block;
  background: transparent;
  padding: 8px;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-family: inherit;
  letter-spacing: 1px;
  transition: background-color 0.4s ease-in-out;
}

.footer ul li button:hover {
  background-color: #1e427c;
  cursor: pointer;
}
/* LOGIN */
.login .form {
  display: flex;
  flex-direction: column;
}
.login .form input {
  margin: 8px 0;
  width: 80vw;
  padding: 12px;
  bottom: none;
  border-radius: 10px;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 2px;
  color: black;
  text-transform: uppercase;
}
.login .form input::placeholder {
  font-weight: 800;
  color: black;
  /* font-size: 20px; */
}

.login .form button {
  padding: 8px;
  border-radius: 10px;
  background-color: #1e427c;
  color: #fff;
  margin-top: 8px;
  border: 2px solid #1e427c;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 0.4s;
}
.login .form button:hover {
  cursor: pointer;
  background-color: transparent;
}
@media (min-width: 768px) {
  .showcase .overlay h1 {
    font-size: 64px;
  }
  .showcase .overlay p {
    font-size: 22px;
  }
  .grid .grid-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .grid .grid-items div img {
    height: 150px;
    width: 300px;
  }
}

@media (min-width: 1024px) {
  .showcase {
    background-position: top;
  }
  .grid .grid-items {
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
  .login .form input {
    width: 50vw;
  }
}
